body {
    background-color: rgb(240, 227, 222);
}

h1 {
    background-color: brown;
    font-size: 3em;
    color: rgb(241, 237, 229);
}

h2 {
    background-color: rgb(232, 179, 160);
}

p, li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}