body {
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to bottom, #fff 10%, #67d06a);
  background-repeat: no-repeat;
}

img {
  max-width: 860px;
  border-radius: 2%;
}
